<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsu.mapper.AlarmFrequencyMapper">
    <resultMap id="alarmFrequencyMap" type="com.tsu.entity.AlarmFrequency">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"></result>
        <result column="frequency" property="frequency" jdbcType="INTEGER"></result>
        <result column="alarm_date" property="alarmDate" jdbcType="DATE"></result>
    </resultMap>
    <insert id="save" parameterType="com.tsu.entity.AlarmFrequency">
        insert into t_device_alarm_frequency(device_id,frequency,alarm_date) values(#{deviceId},#{frequency},#{alarmDate})
    </insert>
    <update id="updateFrequencyById">
        update t_device_alarm_frequency set frequency=#{frequency} where id=#{id}
    </update>

    <select id="getByDeviceIdAndAlarmDate" resultMap="alarmFrequencyMap">
        select id,device_id,frequency,alarm_date from t_device_alarm_frequency where device_id=#{deviceId} and alarm_date=#{alarmDate}
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select sum(frequency) from t_device_alarm_frequency
    </select>
    <select id="getCountByDates" resultMap="alarmFrequencyMap">
        select sum(frequency) as frequency,alarm_date from t_device_alarm_frequency
        <if test="dateList!=null">
            where alarm_date in
            <foreach collection="dateList" index="index" item="date" open="(" separator="," close=")">
                #{date}
            </foreach>
        </if>
        group by alarm_date
        order by alarm_date
    </select>
    <select id="getCountByDatesAndDeviceIds" resultMap="alarmFrequencyMap">
        select sum(frequency) as frequency,alarm_date  from t_device_alarm_frequency
        <if test="dateList!=null">
            where alarm_date in
            <foreach collection="dateList" index="index" item="date" open="(" separator="," close=")">
                #{date}
            </foreach>
            <if test="deviceIds!=null">
                and device_id in
                <foreach collection="deviceIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </if>
        group by alarm_date
        order by alarm_date
    </select>
    <select id="getCountByDeviceId" resultType="java.lang.Integer">
        select sum(frequency) from t_device_alarm_frequency
        <if test="deviceIds!=null">
            where device_id in
            <foreach collection="deviceIds" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>

