<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsu.mapper.RoleMapper">

    <resultMap type="com.tsu.entity.Role" id="Role">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="getByUserId" resultType="java.lang.String">
        select tr.code from t_user_role tur left join t_role tr on tur.role_id=tr.id where tur.user_id=#{username}
    </select>


</mapper>

