<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsu.mapper.UserMapper">

    <resultMap type="com.tsu.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.tsu.entity.User" id="userCollectionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <collection property="locationIdList" column="id" ofType="com.tsu.entity.Location"
                    select="com.tsu.mapper.LocationMapper.getIdsByUserId"></collection>
    </resultMap>
    <insert id="save" parameterType="com.tsu.entity.User">
        insert into t_user(username,password,salt) values(#{username},#{password},#{salt})
    </insert>

    <update id="update" parameterType="com.tsu.entity.User">
        update t_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_user where id=#{userId}
    </delete>
    <delete id="deleteRelationByUserId" parameterType="java.lang.Integer">
        delete from t_user_location where user_id=#{userId}
    </delete>

    <select id="getByUsername" resultMap="UserMap" parameterType="java.lang.String">
        select id,username,password,salt from t_user where username=#{username}
    </select>

    <select id="getById" resultMap="UserMap" parameterType="java.lang.Integer">
        select id,username,password,salt  from t_user where id=#{id}
    </select>

    <select id="findAll" resultMap="userCollectionMap">
        select id,username from t_user
    </select>

</mapper>

